.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
   
   
}
ul {
    list-style: none; /* Removes the bullet points */
    padding: 0;       /* Removes default padding (optional) */
    margin: 0;        /* Removes default margin (optional) */
    
  }
  a {
    text-decoration: none; /* Removes underline */
     /* color: inherit; Optional: Makes the link inherit text color */
  }
  

 

