<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1+2</h1>
    <h3> <%= 1+3 %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, repudiandae distinctio nostrum necessitatibus, qui quidem, odio assumenda sit veniam dicta quo! Error quaerat tempora, doloribus vel reprehenderit aperiam illo? Aliquam vel magnam possimus eos adipisci, et ducimus modi? Soluta laudantium incidunt harum ipsam illum quae, laboriosam veritatis amet ratione minus quam velit distinctio commodi quos aut labore? Perferendis a dicta accusamus enim, ducimus architecto, quidem assumenda dolorem minus, sequi ea praesentium atque ullam dolorum repudiandae veritatis dolores porro totam ratione.</p>
    <button>Click me</button>
</body>
</html>