
  .ParentCard{
    /* width: 100%;  */
   /* display: flex;  */
   flex-wrap: wrap;
   background-color: black;
   
  
   display: flex;
   align-items: center;
   justify-content: center;
   /* flex-direction: column; */
    width: 400px;
    height: 430px;
  
    /* flex-direction: column; */
    margin: 10px;
   


}

img{
    width: 100%;
   height: auto;
   object-fit: cover;
   /* aspect-ratio: 1/1; */

   

}

.cardss{
    width: 100%; 
   /* display: flex;  */
   flex-wrap: wrap;
   background-color: #000000d5;
   
  
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.heart{
  width: 100%;
 display: flex;
 justify-content: end;
}

.title{
  color: white;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

.desc{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: justify;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
}